.text-input {
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #D4CEE3;
    -fx-border-color: #6F4CBB;
    -fx-border-radius: 5px;
}

.button1 {
    -fx-background-color: #6F4CBB;
    -fx-text-fill: #ffffff;
}
.button1:hover {
    -fx-text-fill: #431FA0;
}

.button1:pressed {
    -fx-text-fill: #371897;
}
.button2 {
    -fx-background-color: #D5CBEB;
    -fx-background-radius: 5px;
    -fx-text-fill: #371897;
    -fx-border-radius: 5px;
}
.button2:hover {
    -fx-background-color: #E4EEFD;
}
.button2:pressed {
    -fx-background-color: #E4EEFD;
    -fx-background-radius: 20px;
}

.button3 {
    -fx-background-color: #bb1a3a;
    -fx-background-radius: 5px;
}
.button4 {
    -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius: 30px;
}

.button4:hover {
    -fx-background-color: linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius: 30px;
}

.button4:pressed {
    -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius: 30px;
}

.combo-box {
    -fx-background-color: #141124;
    -fx-border-color: #515658;
    -fx-border-radius: 30px;
}

.combo-box:hover {
    -fx-background-color: #141124;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 30px;
}

.combo-box:pressed {
    -fx-background-color: #141124;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 30px;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20px;
    -fx-background-color: #bb1a3a;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .cell {
    -fx-cell-size: 30px;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color: rgb(127, 172, 243);
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #6F4CBB, #431FA0);
}

.text {
    -fx-text-fill: #454545;
}

.nav-form {
    -fx-background-color: linear-gradient(to bottom right, #bb1a3a, #722327);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.anchor {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 5, 0, 0, 0);
}

.text-field1 {
    -fx-border-color: #bb1a3a;
    -fx-text-fill: #454545;
    -fx-font-size: 15px;
}

.search {
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-start-margin: 10px;
    -fx-border-color: #bb1a3a;
    -fx-padding: 5px 15px;
    -fx-text-fill: #454545;
    -fx-font-size: 15px;
}

.user {
    -fx-background-color: linear-gradient(to bottom right, #181EFF, #000084);
}

.text-field2 {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-text-fill: #454545;
    -fx-alignment: center;
    -fx-font-size: 15;
}

.search-user {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-start-margin: 10px;
    -fx-padding: 5px 15px;
    -fx-text-fill: #454545;
    -fx-font-size: 15px;
    -fx-border-color:#181EFF ;
}

.table-view .cell #statusColumn,
.table-view .cell #idColumn,
.table-view .cell #imageColumn,
.table-view .cell #priceColumn,
.table-view .cell #quantityColumn {
    -fx-alignment: CENTER;
}
.button9{
    -fx-background-color: #181EFF;
}
